* {
    border: unset;
}

:root {
    --border-color: rgba(90, 90, 110, 0.4);
    --border-color-active: rgba(239, 9, 9, 0.9);
    --bg-color: rgba(20, 20, 20, 1);
    --bg-color-hover: rgba(40, 40, 50, 1);
    --index-border-color: rgba(20, 170, 170, 0.7);
    --border-radius: 12px;
}

.monochrome {
    filter: grayscale(100%);
}

.client-image {
    margin: 15px;
}

.client {
    font-size: 16px;
    font-weight: normal;

    border-radius: var(--border-radius);
    background-color: var(--bg-color);
    border: 3px solid var(--border-color);
}

.client:hover {
    background-color: var(--bg-color-hover);
}

.client_active {
    border: 3px solid var(--border-color-active);
}


.workspace {
    font-size: 24px;
    font-weight: bold;

    border-radius: var(--border-radius);
    background-color: var(--bg-color);
    border: 3px solid var(--border-color);
}

.workspace:hover {
    background-color: var(--bg-color-hover);
}

.workspace_special {
    border: 3px solid rgba(0, 255, 0, 0.4);
}

.workspace_active {
    border: 3px solid var(--border-color-active);
}


.monitor:hover {
    background-color: var(--bg-color-hover);
}

.window_active {
    border: 3px solid var(--border-color-active);
}

.window {
    padding: 2px;

    border-radius: var(--border-radius);
    background-color: var(--bg-color);
    border: 3px solid var(--border-color);
}


.index {
    margin: 3px;
    padding: 2px 4px;
    font-size: 22px;
    font-weight: bold;
    font-family: monospace;
    border-radius: var(--border-radius);
    background-color: var(--bg-color);
    border: 3px solid var(--index-border-color);
}

.launcher {
    min-width: 520px;
    font-size: 1.3em;
}

.launcher-entry {
    margin: 6px;
    padding-top: 6px;
    padding-bottom: 4px;
    padding-left: 12px;
}

.launcher-list {
    margin-left: 2px;
    margin-right: 2px;
}

.launcher-item {
    background-color: var(--bg-color);
    border-radius: var(--border-radius);
    padding-left: 6px;
    padding-right: 6px;
}

.launcher-item-selected {
    background-color: var(--bg-color-hover);
}
