[package]
name = "hyprswitch"
description = "A CLI/GUI that allows switching between windows in Hyprland"
version = "2.1.0"
edition = "2021"
license = "MIT"
readme = "README.md"
authors = ["h3rmt"]
documentation = "https://docs.rs/crate/hyprswitch"
repository = "https://github.com/h3rmt/hyprswitch/"
keywords = ["hyprland"]
categories = ["command-line-utilities"]

[dependencies]
clap = { version = "^4.5.4", features = ["derive"] }
hyprland = { version = "0.4.0-alpha.2" }
tokio = { version = "1.38.0", features = ["full"] }
log = "0.4.22"
stderrlog = "0.6.0"
anyhow = "1.0.86"
lazy_static = "1.5.0"
notify-rust = "4.11.0"

gtk4 = { version = "0.9.0" }
gtk4-layer-shell = { version = "0.4.0" }

[dev-dependencies]
random_color = "0.8.0"
svg = "0.17.0"

[profile.release]
strip = "debuginfo"
lto = true
opt-level = "s"
panic = "abort"
codegen-units = 1
