[package]
name = "hyprswitch"
description = "A CLI/GUI that allows switching between windows in Hyprland"
version = "3.0.0-alpha.7"
edition = "2021"
license = "MIT"
readme = "README.md"
authors = ["h3rmt"]
documentation = "https://docs.rs/crate/hyprswitch"
repository = "https://github.com/h3rmt/hyprswitch/"
keywords = ["hyprland"]
categories = ["command-line-utilities"]

[dependencies]
clap = { version = "4.5.18", features = ["derive"] }
hyprland = { version = "0.4.0-alpha.3" }
tokio = { version = "1.40.0", features = ["sync"] }
log = "0.4.22"
stderrlog = "0.6.0"
anyhow = "1.0.89"
lazy_static = "1.5.0"
notify-rust = "4.11.3"

gtk4 = { version = "0.9.2" }
gtk4-layer-shell = { version = "0.4.0" }
rand = "0.8.5"

bincode = { version = "1.3.3" }
serde = { version = "1.0.209", features = ["derive"] }

[dev-dependencies]
random_color = "1.0.0"
svg = "0.18.0"

[profile.release]
strip = "debuginfo"
lto = true
opt-level = "s"
panic = "abort"
codegen-units = 1
