[Unit]
Description=Starts hyprswitch Daemon
PartOf=graphical-session.target
After=graphical-session.target
StartLimitIntervalSec=600
StartLimitBurst=20
# TODO decrease the StartLimitBurst to 5

[Service]
Type=simple
ExecStart=/usr/bin/hyprswitch run
Restart=always

[Install]
WantedBy=graphical-session.target