[Unit]
Description=Starts hyprswitch Daemon
PartOf=graphical-session.target
After=graphical-session.target
StartLimitIntervalSec=600
StartLimitBurst=20
# TODO decrease the StartLimitBurst to 5

[Service]
Type=simple
ExecStart=/home/user/RustroverProjects/hyprswitch/target/debug/hyprswitch -vv run
Restart=always
Environment="SYSTEMD_SERVICE=true"

[Install]
WantedBy=graphical-session.target