.monitor {
    font-size: 20px;
}

.monitor:hover {
    background-color: var(--bg-color-hover);
}

.monitor_active {
    border: var(--border-size) solid var(--border-color-active);
}


.index {
    margin: 3px;
    padding: 2px 4px;
    font-size: 22px;
    font-weight: bold;
    font-family: monospace;
    border-radius: var(--border-radius);
    background-color: var(--bg-color);
    border: var(--border-size) solid var(--index-border-color);
}


.workspace {
    font-size: 24px;
    font-weight: bold;

    border-radius: var(--border-radius);
    background-color: var(--bg-color);
    border: var(--border-size) solid var(--border-color);
}

.workspace:hover {
    background-color: var(--bg-color-hover);
}

.workspace_special {
    border: var(--border-size) solid rgba(0, 255, 0, 0.4);
}

.workspace_active {
    border: var(--border-size) solid var(--border-color-active);
}


.client-image {
    margin-top: 10px;
    margin-bottom: 5px;
}

.client {
    font-size: 16px;
    font-weight: normal;

    border-radius: var(--border-radius);
    background-color: var(--bg-color);
    border: var(--border-size) solid var(--border-color);
}

.client:hover {
    background-color: var(--bg-color-hover);
}

.client_active {
    border: var(--border-size) solid var(--border-color-active);
}
